<!doctype html>
<head>
  <title>Surveys</title>
  <link
    rel="stylesheet"
    href="https://unpkg.com/bootstrap/dist/css/bootstrap.css"
  />
  <link rel="stylesheet" type="text/css" href="/static/app.css" />
</head>
<body>
	<main class="container d-flex align-items-center">
		<div class="row justify-content-md-center">
			{% block content %}
			{% endblock %}
		</div>
	</main>
</body>
</html>
