body,
html {
	width: 100%;
	height: 100%;
}

.container {
	height: 100%;
}

.row {
	width: 100%;
}

h2 {
	color: #aaa;
	text-transform: uppercase;
	font-size: 24px;
}

.question-container {
	margin: 0 0 16px;
	font-size: 32px;
}

.choice-label {
	margin-right: 1em;
	font-size: 20px;
}

.flash-msg {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	margin: 8px;
	padding: 8px 12px;
	background-color: red;
	color: white;
	border-radius: 5px;
}
